.video-player,
.video-list {
  height: calc(
    100vh - 70px
  ); /* Adjust height to fill the screen minus the search bar height */
}

.video-player {
  width: 70%;
  position: relative;
}

.video-player .video-iframe {
  position: absolute;
  width: 90%;
  height: 90%;
  left: 500px;
  bottom: 760px;
  border: none;
}

.video-list {
  width: 30%;
  border-left: 1px solid lightgray;
  overflow: auto;
  padding: 10px;
}

/* Make sure your video items inside the list don't overflow horizontally */
.video {
  box-shadow: 0 2px 1px lightgray;
  border: 1px solid lightgray;
  border-radius: 2px;
  margin: 10px 0;
}
